In [5]:
from pyspark.sql import SparkSession
import warnings 
warnings.filterwarnings('ignore')

In [6]:
spark = SparkSession.builder.appName("Demo").getOrCreate()

In [7]:
spark

In [8]:
! ls

1_Greedy.ipynb          6_pyspark_ML.ipynb      test1.csv
1_pyspark_setup.ipynb   7_pyspark_tips.ipynb    test2.csv
2_pyspark_add.ipynb     Demo.ipynb              test3.csv
3_pyspark_missing.ipynb Untitled.ipynb          test4.csv
4_pyspark_filter.ipynb  __pycache__             test_1.py
5_pyspark_groupby.ipynb test.py                 tips.csv

In [9]:
df = spark.read.csv('test3.csv', header = True, inferSchema=True)

In [10]:
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [12]:
df.groupBy("Department").sum("Salary").show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|  big data|     300000|
|        it|      73400|
|     admin|      40000|
+----------+-----------+

In [14]:
df.createOrReplaceTempView('data')

In [16]:
spark.sql("select * from data").show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [ ]:
df =