In [1]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
my_tuple= (1,2, 3)
my_list =[1,2,3]

print(my_tuple[2])
print(my_list[2])

3
3

In [3]:
my_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
my_list[2]= 5
print(my_list)

[1, 2, 5]

In [11]:
list1=["hello",1,4,8,"good"]
print(list1)
list1[0]="morning"  # assigning values ("hello" is replaced with "morning")
print(list1)
print(list1[4])
print(list1[-1]) # list also allow negative indexing
print(list1[1:4]) # slicing
list2=["apple","mango","banana"]
print(list1+list2) # list concatenation

['hello', 1, 4, 8, 'good']
['morning', 1, 4, 8, 'good']
good
good
[1, 4, 8]
['morning', 1, 4, 8, 'good', 'apple', 'mango', 'banana']

In [25]:
list1.pop(0)

'morning'

In [12]:
tuple1=("good",1,2,3,"morning")
print(tuple1)
print(tuple1[0])  # accessing values using indexing
#tuple1[1]="change"  # a value cannot be changed as they are immutable
tuple2=("orange","grapes")
print(tuple1+tuple2)  # tuples can be concatenated
tuple3=(1,2,3)
print(type(tuple3))

('good', 1, 2, 3, 'morning')
good
('good', 1, 2, 3, 'morning', 'orange', 'grapes')
<class 'tuple'>

In [22]:
set1={1,2,3,4,5}
print(set1)
#print(set1[0])
set2={2,5,8,9}
#print(set1+set2)
print(set1 | set2)
print(set.union(set1,set2))
print(set1 & set2)
print(set.intersection(set1,set2))
set3 = {1,1,1,2,3,4,4,4}
print(set3)
print(set1 - set2)
print(set.difference(set1, set2))
set3 |= set2
print(set3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8, 9}
{1, 2, 3, 4, 5, 8, 9}
{2, 5}
{2, 5}
{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}
{1, 2, 3, 4, 5, 8, 9}

In [26]:
list1=["apple","banana","grapes"]
list1.append("strawberry")   # strawberry is added to the list
print(list1)
list1.pop()  # removes the last element from the list
print(list1)
list1.pop()
print(list1)

['apple', 'banana', 'grapes', 'strawberry']
['apple', 'banana', 'grapes']
['apple', 'banana']

In [27]:
tuple1=(1,2,3,4)
# tuple1.pop()    tuple cannot be modified
# tuple1.append()  tuple cannot be modified
print(tuple1)

(1, 2, 3, 4)

In [28]:
set1={"water","air","food"}
set1.add("shelter")   # adds an element to the set at random position
print(set1)
set1.add("clothes")
print(set1)
set1.pop()  # removes random element from the set
print(set1)

{'air', 'food', 'shelter', 'water'}
{'water', 'clothes', 'shelter', 'air', 'food'}
{'clothes', 'shelter', 'air', 'food'}

In [31]:
dict1={"fruit1":"apple","fruit2":"banana","veg1":"tomato"}
dict1.update({"veg1":"apple"})

dict1.update({"veg2":"brinjal"})
print(dict1)
dict1.update({"veg3":"chilli"})  # updates the dictionary at the end
print(dict1)
dict1.pop("veg2")
print(dict1)

{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'apple', 'veg2': 'brinjal'}
{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'apple', 'veg2': 'brinjal', 'veg3': 'chilli'}
{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'apple', 'veg3': 'chilli'}

In [32]:
class Student:
    def __init__(self,name, age):
        self.name = name
        self.age = age
        
danny = Student("danny Ki", 30)
print(danny.name)
print(danny.age)

danny Ki
30

In [33]:
pat = [1, 3, 2, 1, 2, 3, 1, 0, 1, 3]

for p in pat:
    if p==0:
        current = p
        break
    elif p% 2 ==0:
        continue
    print(p)

1
3
1
3
1