### 그리디 : 현재 상황에서 당장 좋은 것만 고름
- 루트 노드부터 시작하여 거쳐 가는 노드 값의 합을 최대로 만들고 샆다.
- 단순히 매 상황에서 가장 큰 값만 고든다면 어떻까요?
- 그리디 알고리즘은 최적의 해를 보장할 수 없을때가 많다.

### [문제] 당신은 음식점의 계산을 도와주는 점원입니다. 카운터에는 거스름돈으로 사용할 500월, 100월, 50원, 10원짜리가
무한히 존재한다고 가정합니다. 손님에게 거슬러 주어야 할 돈이 N원일때 거슬러 주어야 할 동전의 **최소** 개수를 구하여라

In [3]:
n = 1260
count = 0

arr = [500,100,50,10]
for coin in arr:
    count += n//coin
    n %= coin

print(count)

6

In [1]:
n = 1260
count = 0

arr = [500,100,50,10]

for coin in arr:
    count += n//coin
    n %= coin
print(count)

6

### [문제] 첫째 줄에 N(1 <= N <= 100,000) 과 K (1 <= K <= 100,000) 가 공백을 기준으로 하여 각각 자연수로 주여집니다.
첫째 줄에 N이 1이 될때까지 1번 혹은 2번의 과정을 수행해야하는 횟수의 최솟값을 출력하세요

- N에서 1을 뺍니다.
- N에서 K를 나눕니다.

In [2]:
n = 25
k = 3

result = 0

while True:
    target = (n//k)*k
    result += (n - target)
    
    n = target
    
    if  n < k:
        break
    
    result += 1
    n //= k

result += (n-1)
print(result)

6

### [문제] 02984 를 왼쪽부터 +과 x 로 최대숫자를 만들어보시오

In [8]:
data = input()

result = int(data[0])

for i in range(1,len(data)):
    num = int(data[i])
    if num <=1 or result <= 1:
        result += num
    else:
        result *= num

print(result)

02345
120

### [문제] 모험가 길드

In [9]:
n = int(input())
data = list(map(int, input().split()))

data.sort()

result = 0 # 총 그룹수
count = 0 # 포함된 모험가 수

for i in data:
    count += 1
    if count >= i:
        result += 1
        count = 0
print(result)

5
1 3 2 2 4
2

### [문제] 구현

In [12]:
for i in range(5):
    for j in range(6):
        print('(',i,',',j,')', end=" ")
    print()

( 0 , 0 ) ( 0 , 1 ) ( 0 , 2 ) ( 0 , 3 ) ( 0 , 4 ) ( 0 , 5 )
( 1 , 0 ) ( 1 , 1 ) ( 1 , 2 ) ( 1 , 3 ) ( 1 , 4 ) ( 1 , 5 )
( 2 , 0 ) ( 2 , 1 ) ( 2 , 2 ) ( 2 , 3 ) ( 2 , 4 ) ( 2 , 5 )
( 3 , 0 ) ( 3 , 1 ) ( 3 , 2 ) ( 3 , 3 ) ( 3 , 4 ) ( 3 , 5 )
( 4 , 0 ) ( 4 , 1 ) ( 4 , 2 ) ( 4 , 3 ) ( 4 , 4 ) ( 4 , 5 )

In [13]:
# 동, 북, 서, 남
dx = [0,-1,0,1]
dy = [1,0,-1,0]

# 현재위치
x, y = 2, 2

for i in range(4):
    nx = x + dx[i]
    ny = y + dy[i]
    print(nx, ny)

2 3
1 2
2 1
3 2

### [문제] 상하좌우 문제

In [7]:
n = int(input())
x, y = 1, 1
plans = input().split()

# D, U, L, R
dx = [0,0,-1,1]
dy = [-1,1,0,0]

move_types = ['D', 'U', 'L', 'R']

for plan in plans:
    for i in range(len(move_types)):
        if plan == move_types[i]:
            nx = x + dx[i]
            ny = y + dx[y]
    if nx < 1 or ny < 1 or nx >n or ny >y:
        continue
    x,y=nx,ny
print(x, y)

5
R R R D D
4 1

### [문제] 시각 문제
모든 시각 중에 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램

In [17]:
h = int(input())

count = 0

for i in range(h+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i)+str(j)+str(k):
#                 print(str(i)+str(j)+str(k))
                count +=1
print(count)

5
11475

In [9]:
h = int(input())

count = 0

for i in range(h+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i)+str(j)+str(k):
                #print(str(i)+str(j)+str(k))
                count += 1
print(count)

1
3150

### [문제] 왕실의 나이트 문제
8 x 8 좌표 평면상에서 나이트의 위치가 주어졌을때 나이트가 이동할 수 있는 경우의 수를 출력하시오

In [21]:
#현재 나이트의 위치
input_data = input()
row = int(input_data[1]) # 행 위치
column = int(ord(input_data[0])) - int(ord('a'))+1 #아스키코드로 바꾸고 나서 1을 더해줌

# 나이트가 이동할 수 있는 8가지 방향
steps=[(-2,-1), (-1,-2), (1,-2), (2,-1), (2,1), (1,2),(-1,2),(-2,1)]

result = 0
for step in steps:
    next_row = row + step[0]
    next_column = column + step[1]
    
    if next_row >= 1 and next_row <=8 and next_column >=1 and next_column <=9:
        result +=1
print(result)

a1
2

### [문제] 문자열 재정렬
알파벳 대문자와 숫자 (0 - 9)로만 구성된 문자열이 입력으로 주어짐. 모든 알파벳을 오름차순으로 정렬하여 이어서 출력한 뒤에 그 뒤에 모든 숫자를 더한 값을 이어서 출력합니다

In [23]:
data = input()
result = []
value = 0

for x in data:
    if x.isalpha():
        result.append(x)
    else:
        value += int(x)
result.sort()
if value !=0:
    result.append(str(value))

print(''.join(result))

a8d9ds6a5
aadds28