In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

22/01/18 20:40:10 WARN Utils: Your hostname, sunghwanui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.8 instead (on interface en0)
22/01/18 20:40:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/01/18 20:40:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
spark

In [11]:
df_pyspark = spark.read.option("header", "true").option("inferSchema","true").csv("test1.csv")

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [39]:
df_pyspark=spark.read.csv("test1.csv", header=True, inferSchema=True)

In [40]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [41]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [42]:
df_pyspark.columns

['Name', 'age', 'experience']

In [43]:
df_pyspark.head(3)

[Row(Name='danny', age=30, experience=10),
 Row(Name='hyunjoo', age=33, experience=7),
 Row(Name='eileen', age=23, experience=5)]

In [44]:
for i in df_pyspark:
    print(i)

Column<'Name'>
Column<'age'>
Column<'experience'>

In [45]:
df_pyspark.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|  danny| 30|        10|
|hyunjoo| 33|         7|
| eileen| 23|         5|
| hailey| 44|         4|
|   jong| 55|         3|
|    kim| 36|         6|
|   park| 87|         7|
+-------+---+----------+

In [46]:
df_pyspark.select("Name").show()

+-------+
|   Name|
+-------+
|  danny|
|hyunjoo|
| eileen|
| hailey|
|   jong|
|    kim|
|   park|
+-------+

In [47]:
df_pyspark.select("age","Name").show()

+---+-------+
|age|   Name|
+---+-------+
| 30|  danny|
| 33|hyunjoo|
| 23| eileen|
| 44| hailey|
| 55|   jong|
| 36|    kim|
| 87|   park|
+---+-------+

In [48]:
df_pyspark.select(["age","name"]).show()

+---+-------+
|age|   name|
+---+-------+
| 30|  danny|
| 33|hyunjoo|
| 23| eileen|
| 44| hailey|
| 55|   jong|
| 36|    kim|
| 87|   park|
+---+-------+

In [49]:
df_pyspark['name']

Column<'name'>

In [50]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [51]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, experience: string]

In [52]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               age|       experience|
+-------+-----+------------------+-----------------+
|  count|    7|                 7|                7|
|   mean| null|              44.0|              6.0|
| stddev| null|21.571586249817916|2.309401076758503|
|    min|danny|                23|                3|
|    max| park|                87|               10|
+-------+-----+------------------+-----------------+

In [53]:
df_pyspark = df_pyspark.withColumn("experience after 2 year", df_pyspark['experience']+2)

In [54]:
df_pyspark.show()

+-------+---+----------+-----------------------+
|   Name|age|experience|experience after 2 year|
+-------+---+----------+-----------------------+
|  danny| 30|        10|                     12|
|hyunjoo| 33|         7|                      9|
| eileen| 23|         5|                      7|
| hailey| 44|         4|                      6|
|   jong| 55|         3|                      5|
|    kim| 36|         6|                      8|
|   park| 87|         7|                      9|
+-------+---+----------+-----------------------+

In [58]:
df_pyspark = df_pyspark.drop("experience after 2 year")

In [59]:
df_pyspark.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|  danny| 30|        10|
|hyunjoo| 33|         7|
| eileen| 23|         5|
| hailey| 44|         4|
|   jong| 55|         3|
|    kim| 36|         6|
|   park| 87|         7|
+-------+---+----------+

In [60]:
df_pyspark.withColumnRenamed("name", "new name").show()

+--------+---+----------+
|new name|age|experience|
+--------+---+----------+
|   danny| 30|        10|
| hyunjoo| 33|         7|
|  eileen| 23|         5|
|  hailey| 44|         4|
|    jong| 55|         3|
|     kim| 36|         6|
|    park| 87|         7|
+--------+---+----------+