In [2]:
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

In [3]:
spark = SparkSession.builder.appName("Practice").getOrCreate()
spark

22/01/21 23:36:41 WARN Utils: Your hostname, sunghwanui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.8 instead (on interface en0)
22/01/21 23:36:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/01/21 23:36:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
df = spark.read.csv("test3.csv", header=True, inferSchema=True)
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [6]:
df.groupBy("Department").sum("Salary").show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|  big data|     300000|
|        it|      73400|
|     admin|      40000|
+----------+-----------+

In [7]:
df.dtypes

[('Name', 'string'), ('Department', 'string'), ('Salary', 'int')]

In [8]:
df.columns

['Name', 'Department', 'Salary']

In [10]:
df.describe().show()

+-------+-----+----------+------------------+
|summary| Name|Department|            Salary|
+-------+-----+----------+------------------+
|  count|    7|         7|                 7|
|   mean| null|      null|59057.142857142855|
| stddev| null|      null|65188.620099494285|
|    min|danny|     admin|              3400|
|    max|nadal|        it|            200000|
+-------+-----+----------+------------------+

In [11]:
df = df.withColumn("Salary x 2", df["Salary"] * 2)
df.show()

+-------+----------+------+----------+
|   Name|Department|Salary|Salary x 2|
+-------+----------+------+----------+
|  danny|  big data| 30000|     60000|
|hyunjoo|     admin| 40000|     80000|
| eileen|  big data| 70000|    140000|
| hailey|        it|  3400|      6800|
|   john|        it| 40000|     80000|
|    kim|  big data|200000|    400000|
|  nadal|        it| 30000|     60000|
+-------+----------+------+----------+

In [13]:
df = df.withColumnRenamed("Salary x 2", "Salary xtwo" )
df.show()

+-------+----------+------+-----------+
|   Name|Department|Salary|Salary xtwo|
+-------+----------+------+-----------+
|  danny|  big data| 30000|      60000|
|hyunjoo|     admin| 40000|      80000|
| eileen|  big data| 70000|     140000|
| hailey|        it|  3400|       6800|
|   john|        it| 40000|      80000|
|    kim|  big data|200000|     400000|
|  nadal|        it| 30000|      60000|
+-------+----------+------+-----------+

In [14]:
df = df.drop("Salary xtwo")
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [15]:
df.groupBy("Department").mean("Salary").show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|  big data|          100000.0|
|        it|24466.666666666668|
|     admin|           40000.0|
+----------+------------------+

In [16]:
df.select(["Department", "Salary"]).show()

+----------+------+
|Department|Salary|
+----------+------+
|  big data| 30000|
|     admin| 40000|
|  big data| 70000|
|        it|  3400|
|        it| 40000|
|  big data|200000|
|        it| 30000|
+----------+------+

In [17]:
!ls

1_Greedy.ipynb          7_pyspark_tips.ipynb    test2.csv
1_pyspark_setup.ipynb   Demo.ipynb              test3.csv
2_pyspark_add.ipynb     Untitled.ipynb          test4.csv
3_pyspark_missing.ipynb Untitled1.ipynb         test_1.py
4_pyspark_filter.ipynb  __pycache__             tips.csv
5_pyspark_groupby.ipynb test.py
6_pyspark_ML.ipynb      test1.csv

In [23]:
df = spark.read.csv("test2.csv", header = True, inferSchema=True)
df.show()

+-------+----+----------+------+
|   Name| age|experience|Salary|
+-------+----+----------+------+
|  danny|  30|        10| 30000|
|hyunjoo|  33|      null| 40000|
| eileen|  23|         5| 70000|
| hailey|  44|         4|  3400|
|   null|null|      null| 40000|
|    kim|  36|         6|200000|
|   null|  87|         7| 30000|
|   null|  49|      null|  null|
+-------+----+----------+------+

In [25]:
df.na.drop().show()

+------+---+----------+------+
|  Name|age|experience|Salary|
+------+---+----------+------+
| danny| 30|        10| 30000|
|eileen| 23|         5| 70000|
|hailey| 44|         4|  3400|
|   kim| 36|         6|200000|
+------+---+----------+------+

In [26]:
df.show()

+-------+----+----------+------+
|   Name| age|experience|Salary|
+-------+----+----------+------+
|  danny|  30|        10| 30000|
|hyunjoo|  33|      null| 40000|
| eileen|  23|         5| 70000|
| hailey|  44|         4|  3400|
|   null|null|      null| 40000|
|    kim|  36|         6|200000|
|   null|  87|         7| 30000|
|   null|  49|      null|  null|
+-------+----+----------+------+

In [28]:
df.na.fill("missing").show()

+-------+----+----------+------+
|   Name| age|experience|Salary|
+-------+----+----------+------+
|  danny|  30|        10| 30000|
|hyunjoo|  33|      null| 40000|
| eileen|  23|         5| 70000|
| hailey|  44|         4|  3400|
|missing|null|      null| 40000|
|    kim|  36|         6|200000|
|missing|  87|         7| 30000|
|missing|  49|      null|  null|
+-------+----+----------+------+

In [29]:
df.na.fill(0).show()

+-------+---+----------+------+
|   Name|age|experience|Salary|
+-------+---+----------+------+
|  danny| 30|        10| 30000|
|hyunjoo| 33|         0| 40000|
| eileen| 23|         5| 70000|
| hailey| 44|         4|  3400|
|   null|  0|         0| 40000|
|    kim| 36|         6|200000|
|   null| 87|         7| 30000|
|   null| 49|         0|     0|
+-------+---+----------+------+

In [30]:
from pyspark.ml.feature import Imputer

In [36]:
imputer = Imputer(inputCols=["age","Salary","experience"],
                 outputCols=["{}_imputed".format(c) for c in ["age","Salary","experience"]]).setStrategy("mean")

In [38]:
df = imputer.fit(df).transform(df)
df.show()

+-------+----+----------+------+-----------+--------------+------------------+
|   Name| age|experience|Salary|age_imputed|Salary_imputed|experience_imputed|
+-------+----+----------+------+-----------+--------------+------------------+
|  danny|  30|        10| 30000|         30|         30000|                10|
|hyunjoo|  33|      null| 40000|         33|         40000|                 6|
| eileen|  23|         5| 70000|         23|         70000|                 5|
| hailey|  44|         4|  3400|         44|          3400|                 4|
|   null|null|      null| 40000|         43|         40000|                 6|
|    kim|  36|         6|200000|         36|        200000|                 6|
|   null|  87|         7| 30000|         87|         30000|                 7|
|   null|  49|      null|  null|         49|         59057|                 6|
+-------+----+----------+------+-----------+--------------+------------------+

In [40]:
df = df.drop("age","experience","Salary")
df.show()

+-------+-----------+--------------+------------------+
|   Name|age_imputed|Salary_imputed|experience_imputed|
+-------+-----------+--------------+------------------+
|  danny|         30|         30000|                10|
|hyunjoo|         33|         40000|                 6|
| eileen|         23|         70000|                 5|
| hailey|         44|          3400|                 4|
|   null|         43|         40000|                 6|
|    kim|         36|        200000|                 6|
|   null|         87|         30000|                 7|
|   null|         49|         59057|                 6|
+-------+-----------+--------------+------------------+

In [41]:
df = df.withColumnRenamed("age_imputed","age").withColumnRenamed("Salary_imputed","Salary").withColumnRenamed("experience_imputed","experience")
df.show()

+-------+---+------+----------+
|   Name|age|Salary|experience|
+-------+---+------+----------+
|  danny| 30| 30000|        10|
|hyunjoo| 33| 40000|         6|
| eileen| 23| 70000|         5|
| hailey| 44|  3400|         4|
|   null| 43| 40000|         6|
|    kim| 36|200000|         6|
|   null| 87| 30000|         7|
|   null| 49| 59057|         6|
+-------+---+------+----------+

In [42]:
from pyspark.ml.regression import LinearRegression

In [47]:
from pyspark.ml.feature import VectorAssembler

In [48]:
df.show()

+-------+---+------+----------+
|   Name|age|Salary|experience|
+-------+---+------+----------+
|  danny| 30| 30000|        10|
|hyunjoo| 33| 40000|         6|
| eileen| 23| 70000|         5|
| hailey| 44|  3400|         4|
|   null| 43| 40000|         6|
|    kim| 36|200000|         6|
|   null| 87| 30000|         7|
|   null| 49| 59057|         6|
+-------+---+------+----------+

In [52]:
assembler = VectorAssembler(inputCols=["age", "experience"],
                           outputCol="vector")

In [57]:
df = assembler.transform(df)
df.show()

+-------+---+------+----------+-----------+
|   Name|age|Salary|experience|     vector|
+-------+---+------+----------+-----------+
|  danny| 30| 30000|        10|[30.0,10.0]|
|hyunjoo| 33| 40000|         6| [33.0,6.0]|
| eileen| 23| 70000|         5| [23.0,5.0]|
| hailey| 44|  3400|         4| [44.0,4.0]|
|   null| 43| 40000|         6| [43.0,6.0]|
|    kim| 36|200000|         6| [36.0,6.0]|
|   null| 87| 30000|         7| [87.0,7.0]|
|   null| 49| 59057|         6| [49.0,6.0]|
+-------+---+------+----------+-----------+

In [58]:
df = df.select("vector", "Salary")
df.show()

+-----------+------+
|     vector|Salary|
+-----------+------+
|[30.0,10.0]| 30000|
| [33.0,6.0]| 40000|
| [23.0,5.0]| 70000|
| [44.0,4.0]|  3400|
| [43.0,6.0]| 40000|
| [36.0,6.0]|200000|
| [87.0,7.0]| 30000|
| [49.0,6.0]| 59057|
+-----------+------+

In [60]:
train, test = df.randomSplit([0.8,0.2])
train.show()
test.show()

+----------+------+
|    vector|Salary|
+----------+------+
|[23.0,5.0]| 70000|
|[36.0,6.0]|200000|
|[43.0,6.0]| 40000|
|[87.0,7.0]| 30000|
+----------+------+

+-----------+------+
|     vector|Salary|
+-----------+------+
|[30.0,10.0]| 30000|
| [33.0,6.0]| 40000|
| [44.0,4.0]|  3400|
| [49.0,6.0]| 59057|
+-----------+------+

In [65]:
regressor = LinearRegression(featuresCol="vector", labelCol="Salary")
regressor

LinearRegression_2a02b7f4d548

In [67]:
df_1 = regressor.fit(train)

22/01/22 00:10:17 WARN Instrumentation: [4ae6f667] regParam is zero, which might cause numerical instability and overfitting.

In [70]:
df_1.coefficients

DenseVector([-6213.4089, 178829.084])

In [71]:
df_1.intercept

-694390.9348442404

In [75]:
df_1 = df_1.evaluate(test)

In [76]:
df_1

In [78]:
df_1.predictions.show()

+-----------+------+-------------------+
|     vector|Salary|         prediction|
+-----------+------+-------------------+
|[30.0,10.0]| 30000|  907497.6392823876|
| [33.0,6.0]| 40000| 173541.07648725586|
| [44.0,4.0]|  3400|-252464.58923514717|
| [49.0,6.0]| 59057|    74126.534466477|
+-----------+------+-------------------+

In [79]:
df_1.meanAbsoluteError

320493.2098678169

In [80]:
df_1.meanSquaredError

213382276237.26135

In [81]:
import os

In [83]:
os.environ["HOME"]

'/Users/sunghwanki'

In [85]:
os.environ['PATH']

'/opt/anaconda3/bin:/opt/anaconda3/condabin:/usr/local/Cellar/pyenv-virtualenv/1.1.5/shims:/Users/sunghwanki/.pyenv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:/opt/X11/bin:~/.dotnet/tools:/Library/Frameworks/Mono.framework/Versions/Current/Commands'