In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("data").getOrCreate()

22/01/20 21:02:15 WARN Utils: Your hostname, sunghwanui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.8 instead (on interface en0)
22/01/20 21:02:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/01/20 21:02:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [22]:
df = spark.read.csv("test3.csv", header=True, inferSchema = True)
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [23]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [24]:
df.dtypes

[('Name', 'string'), ('Department', 'string'), ('Salary', 'int')]

In [25]:
df.columns

['Name', 'Department', 'Salary']

In [26]:
df.describe().show()

+-------+-----+----------+------------------+
|summary| Name|Department|            Salary|
+-------+-----+----------+------------------+
|  count|    7|         7|                 7|
|   mean| null|      null|59057.142857142855|
| stddev| null|      null|65188.620099494285|
|    min|danny|     admin|              3400|
|    max|nadal|        it|            200000|
+-------+-----+----------+------------------+

In [27]:
df.head(5)

[Row(Name='danny', Department='big data', Salary=30000),
 Row(Name='hyunjoo', Department='admin', Salary=40000),
 Row(Name='eileen', Department='big data', Salary=70000),
 Row(Name='hailey', Department='it', Salary=3400),
 Row(Name='john', Department='it', Salary=40000)]

In [28]:
for i in df.head(10):
    print(i["Name"])

danny
hyunjoo
eileen
hailey
john
kim
nadal

In [29]:
df = df.withColumn("Salary_2", df["Salary"]*2)

In [30]:
df.show()

+-------+----------+------+--------+
|   Name|Department|Salary|Salary_2|
+-------+----------+------+--------+
|  danny|  big data| 30000|   60000|
|hyunjoo|     admin| 40000|   80000|
| eileen|  big data| 70000|  140000|
| hailey|        it|  3400|    6800|
|   john|        it| 40000|   80000|
|    kim|  big data|200000|  400000|
|  nadal|        it| 30000|   60000|
+-------+----------+------+--------+

In [31]:
df = df.withColumnRenamed("Salary_2", "Salary_3")
df.show()

+-------+----------+------+--------+
|   Name|Department|Salary|Salary_3|
+-------+----------+------+--------+
|  danny|  big data| 30000|   60000|
|hyunjoo|     admin| 40000|   80000|
| eileen|  big data| 70000|  140000|
| hailey|        it|  3400|    6800|
|   john|        it| 40000|   80000|
|    kim|  big data|200000|  400000|
|  nadal|        it| 30000|   60000|
+-------+----------+------+--------+

In [32]:
df=df.drop("Salary_3")
df.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  danny|  big data| 30000|
|hyunjoo|     admin| 40000|
| eileen|  big data| 70000|
| hailey|        it|  3400|
|   john|        it| 40000|
|    kim|  big data|200000|
|  nadal|        it| 30000|
+-------+----------+------+

In [33]:
df.groupBy("Department").sum("Salary").show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|  big data|     300000|
|        it|      73400|
|     admin|      40000|
+----------+-----------+

In [36]:
df.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|     413400|
+-----------+

In [37]:
df.agg({"Salary":"mean"}).show()

+------------------+
|       avg(Salary)|
+------------------+
|59057.142857142855|
+------------------+

In [41]:
df_1 = spark.read.csv("test2.csv", header=True, inferSchema=True)
df_1.show()

+-------+----+----------+------+
|   Name| age|experience|Salary|
+-------+----+----------+------+
|  danny|  30|        10| 30000|
|hyunjoo|  33|      null| 40000|
| eileen|  23|         5| 70000|
| hailey|  44|         4|  3400|
|   null|null|      null| 40000|
|    kim|  36|         6|200000|
|   null|  87|         7| 30000|
|   null|  49|      null|  null|
+-------+----+----------+------+

In [44]:
df_1.na.drop(how="any").show()

+------+---+----------+------+
|  Name|age|experience|Salary|
+------+---+----------+------+
| danny| 30|        10| 30000|
|eileen| 23|         5| 70000|
|hailey| 44|         4|  3400|
|   kim| 36|         6|200000|
+------+---+----------+------+

In [47]:
df_1.na.drop(how="any",subset="experience").show()

+------+---+----------+------+
|  Name|age|experience|Salary|
+------+---+----------+------+
| danny| 30|        10| 30000|
|eileen| 23|         5| 70000|
|hailey| 44|         4|  3400|
|   kim| 36|         6|200000|
|  null| 87|         7| 30000|
+------+---+----------+------+

In [48]:
df_1.na.fill("missing").show()

+-------+----+----------+------+
|   Name| age|experience|Salary|
+-------+----+----------+------+
|  danny|  30|        10| 30000|
|hyunjoo|  33|      null| 40000|
| eileen|  23|         5| 70000|
| hailey|  44|         4|  3400|
|missing|null|      null| 40000|
|    kim|  36|         6|200000|
|missing|  87|         7| 30000|
|missing|  49|      null|  null|
+-------+----+----------+------+

In [51]:
from pyspark.ml.feature import Imputer

In [73]:
imputer = Imputer(inputCols =["experience", "age","Salary"],
                 outputCols = ["{}_imputed".format(c) for c in ["experience", "age","Salary"]]).setStrategy("mean")

In [74]:
df = imputer.fit(df_1).transform(df_1)
df.show()

+-------+----+----------+------+------------------+-----------+--------------+
|   Name| age|experience|Salary|experience_imputed|age_imputed|Salary_imputed|
+-------+----+----------+------+------------------+-----------+--------------+
|  danny|  30|        10| 30000|                10|         30|         30000|
|hyunjoo|  33|      null| 40000|                 6|         33|         40000|
| eileen|  23|         5| 70000|                 5|         23|         70000|
| hailey|  44|         4|  3400|                 4|         44|          3400|
|   null|null|      null| 40000|                 6|         43|         40000|
|    kim|  36|         6|200000|                 6|         36|        200000|
|   null|  87|         7| 30000|                 7|         87|         30000|
|   null|  49|      null|  null|                 6|         49|         59057|
+-------+----+----------+------+------------------+-----------+--------------+

In [75]:
df=df.drop("age", "experience", "Salary")
df.show()

+-------+------------------+-----------+--------------+
|   Name|experience_imputed|age_imputed|Salary_imputed|
+-------+------------------+-----------+--------------+
|  danny|                10|         30|         30000|
|hyunjoo|                 6|         33|         40000|
| eileen|                 5|         23|         70000|
| hailey|                 4|         44|          3400|
|   null|                 6|         43|         40000|
|    kim|                 6|         36|        200000|
|   null|                 7|         87|         30000|
|   null|                 6|         49|         59057|
+-------+------------------+-----------+--------------+

In [77]:
df = df.withColumnRenamed("experience_imputed","exp").withColumnRenamed("age_imputed","age").withColumnRenamed("Salary_imputed","Salary")
df.show()

+-------+---+---+------+
|   Name|exp|age|Salary|
+-------+---+---+------+
|  danny| 10| 30| 30000|
|hyunjoo|  6| 33| 40000|
| eileen|  5| 23| 70000|
| hailey|  4| 44|  3400|
|   null|  6| 43| 40000|
|    kim|  6| 36|200000|
|   null|  7| 87| 30000|
|   null|  6| 49| 59057|
+-------+---+---+------+

In [78]:
from pyspark.ml.feature import VectorAssembler

In [79]:
vector = VectorAssembler(inputCols=["exp","age"],
                        outputCol="Indenpendent")

In [80]:
df = vector.transform(df)
df.show()

+-------+---+---+------+------------+
|   Name|exp|age|Salary|Indenpendent|
+-------+---+---+------+------------+
|  danny| 10| 30| 30000| [10.0,30.0]|
|hyunjoo|  6| 33| 40000|  [6.0,33.0]|
| eileen|  5| 23| 70000|  [5.0,23.0]|
| hailey|  4| 44|  3400|  [4.0,44.0]|
|   null|  6| 43| 40000|  [6.0,43.0]|
|    kim|  6| 36|200000|  [6.0,36.0]|
|   null|  7| 87| 30000|  [7.0,87.0]|
|   null|  6| 49| 59057|  [6.0,49.0]|
+-------+---+---+------+------------+

In [81]:
df.columns

['Name', 'exp', 'age', 'Salary', 'Indenpendent']

In [88]:
finalized_df = df.select(["Salary", "Indenpendent"])
finalized_df.show()

+------+------------+
|Salary|Indenpendent|
+------+------------+
| 30000| [10.0,30.0]|
| 40000|  [6.0,33.0]|
| 70000|  [5.0,23.0]|
|  3400|  [4.0,44.0]|
| 40000|  [6.0,43.0]|
|200000|  [6.0,36.0]|
| 30000|  [7.0,87.0]|
| 59057|  [6.0,49.0]|
+------+------------+

In [89]:
from pyspark.ml.regression import LinearRegression

In [90]:
train, test = finalized_df.randomSplit([0.6,0.4])
train.show()
test.show()

+------+------------+
|Salary|Indenpendent|
+------+------------+
|  3400|  [4.0,44.0]|
| 30000|  [7.0,87.0]|
| 30000| [10.0,30.0]|
| 40000|  [6.0,43.0]|
| 70000|  [5.0,23.0]|
+------+------------+

+------+------------+
|Salary|Indenpendent|
+------+------------+
| 40000|  [6.0,33.0]|
| 59057|  [6.0,49.0]|
|200000|  [6.0,36.0]|
+------+------------+

In [91]:
re = LinearRegression(featuresCol="Indenpendent", labelCol="Salary")
re

LinearRegression_67bb85118dbd

In [92]:
reg = re.fit(train)
reg

22/01/20 21:44:50 WARN Instrumentation: [8078b666] regParam is zero, which might cause numerical instability and overfitting.
22/01/20 21:44:50 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
22/01/20 21:44:50 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
22/01/20 21:44:50 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
22/01/20 21:44:50 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

LinearRegressionModel: uid=LinearRegression_67bb85118dbd, numFeatures=2

In [95]:
reg.coefficients

DenseVector([268.678, -356.9179])

In [96]:
reg.intercept

49164.535450832234

In [99]:
result = reg.evaluate(test)

In [100]:
result

In [102]:
result.predictions.show()

+------+------------+------------------+
|Salary|Indenpendent|        prediction|
+------+------------+------------------+
| 40000|  [6.0,33.0]| 38998.31128452114|
| 59057|  [6.0,49.0]|33287.624215082615|
|200000|  [6.0,36.0]| 37927.55745900142|
+------+------------+------------------+

In [103]:
result.meanAbsoluteError

62947.835680464945

In [104]:
result.meanSquaredError

8977513579.944096

In [105]:
df = spark.read.csv("tips.csv", header=True, inferSchema=True)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [106]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [107]:
from pyspark.ml.feature import StringIndexer

In [108]:
index = StringIndexer(inputCol="sex", outputCol="sex_index")
df_r = index.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+---------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_index|
+----------+----+------+------+---+------+----+---------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|      1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|      0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|      0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|      0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|      1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|      0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|      0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|      0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|      0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|      0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|      0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|      1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|      0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|      0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|      1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|      0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|      1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|      0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|      1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|      0.0|
+----------+----+------+------+---+------+----+---------+
only showing top 20 rows

In [110]:
index = StringIndexer(inputCols=["smoker","day","time"], outputCols=["smoker_inx","day_inx","time_inx"])
df_r = index.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+----------+-------+--------+
|total_bill| tip|   sex|smoker|day|  time|size|smoker_inx|day_inx|time_inx|
+----------+----+------+------+---+------+----+----------+-------+--------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|       0.0|    0.0|     0.0|
+----------+----+------+------+---+------+----+----------+-------+--------+
only showing top 20 rows

In [113]:
from pyspark.ml.feature import VectorAssembler

In [115]:
vector = VectorAssembler(inputCols=["total_bill", "tip","size","smoker_inx", "day_inx", "time_inx"],
                        outputCol="independence")

In [119]:
df_r = vector.transform(df_r)
df_r.show()

+----------+----+------+------+---+------+----+----------+-------+--------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|smoker_inx|day_inx|time_inx|        independence|
+----------+----+------+------+---+------+----+----------+-------+--------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[16.99,1.01,2.0,0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|[10.34,1.66,3.0,0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|[21.01,3.5,3.0,0....|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[23.68,3.31,2.0,0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|[24.59,3.61,4.0,0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|[25.29,4.71,4.0,0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[8.77,2.0,2.0,0.0...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|[26.88,3.12,4.0,0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[15.04,1.96,2.0,0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[14.78,3.23,2.0,0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[10.27,1.71,2.0,0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|[35.26,5.0,4.0,0....|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[15.42,1.57,2.0,0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|       0.0|    1.0|     0.0|[18.43,3.0,4.0,0....|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[14.83,3.02,2.0,0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|       0.0|    1.0|     0.0|[21.58,3.92,2.0,0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|[10.33,1.67,3.0,0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|[16.29,3.71,3.0,0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       0.0|    1.0|     0.0|[16.97,3.5,3.0,0....|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|       0.0|    0.0|     0.0|[20.65,3.35,3.0,0...|
+----------+----+------+------+---+------+----+----------+-------+--------+--------------------+
only showing top 20 rows

In [123]:
df = df_r.select("total_bill", "independence")
df.show()

+----------+--------------------+
|total_bill|        independence|
+----------+--------------------+
|     16.99|[16.99,1.01,2.0,0...|
|     10.34|[10.34,1.66,3.0,0...|
|     21.01|[21.01,3.5,3.0,0....|
|     23.68|[23.68,3.31,2.0,0...|
|     24.59|[24.59,3.61,4.0,0...|
|     25.29|[25.29,4.71,4.0,0...|
|      8.77|[8.77,2.0,2.0,0.0...|
|     26.88|[26.88,3.12,4.0,0...|
|     15.04|[15.04,1.96,2.0,0...|
|     14.78|[14.78,3.23,2.0,0...|
|     10.27|[10.27,1.71,2.0,0...|
|     35.26|[35.26,5.0,4.0,0....|
|     15.42|[15.42,1.57,2.0,0...|
|     18.43|[18.43,3.0,4.0,0....|
|     14.83|[14.83,3.02,2.0,0...|
|     21.58|[21.58,3.92,2.0,0...|
|     10.33|[10.33,1.67,3.0,0...|
|     16.29|[16.29,3.71,3.0,0...|
|     16.97|[16.97,3.5,3.0,0....|
|     20.65|[20.65,3.35,3.0,0...|
+----------+--------------------+
only showing top 20 rows

In [125]:
from pyspark.ml.regression import LinearRegression

In [126]:
train, test = df.randomSplit([0.8,0.2])
train.show()
test.show()

+----------+--------------------+
|total_bill|        independence|
+----------+--------------------+
|      3.07|[3.07,1.0,1.0,1.0...|
|      5.75|[5.75,1.0,2.0,1.0...|
|      7.25|[7.25,1.0,1.0,0.0...|
|      7.25|[7.25,5.15,2.0,1....|
|      7.51|[7.51,2.0,2.0,0.0...|
|      7.56|[7.56,1.44,2.0,0....|
|      8.35|[8.35,1.5,2.0,0.0...|
|      8.51|[8.51,1.25,2.0,0....|
|      8.52|[8.52,1.48,2.0,0....|
|      9.55|[9.55,1.45,2.0,0....|
|       9.6|[9.6,4.0,2.0,1.0,...|
|      9.68|[9.68,1.32,2.0,0....|
|      9.94|[9.94,1.56,2.0,0....|
|     10.07|[10.07,1.25,2.0,0...|
|     10.09|[10.09,2.0,2.0,1....|
|     10.27|[10.27,1.71,2.0,0...|
|     10.33|[10.33,1.67,3.0,0...|
|     10.33|[10.33,2.0,2.0,0....|
|     10.34|[10.34,1.66,3.0,0...|
|     10.51|[10.51,1.25,2.0,0...|
+----------+--------------------+
only showing top 20 rows

+----------+--------------------+
|total_bill|        independence|
+----------+--------------------+
|      7.74|[7.74,1.44,2.0,1....|
|      8.58|[8.58,1.92,1.0,1....|
|      8.77|[8.77,2.0,2.0,0.0...|
|      9.78|[9.78,1.73,2.0,0....|
|     10.07|[10.07,1.83,1.0,0...|
|     10.29|[10.29,2.6,2.0,0....|
|     10.34|[10.34,2.0,2.0,1....|
|     10.59|[10.59,1.61,2.0,1...|
|     11.38|[11.38,2.0,2.0,0....|
|     11.87|[11.87,1.63,2.0,0...|
|     12.43|[12.43,1.8,2.0,0....|
|     13.13|[13.13,2.0,2.0,0....|
|     13.39|[13.39,2.61,2.0,0...|
|     13.42|[13.42,3.48,2.0,1...|
|     13.81|[13.81,2.0,2.0,1....|
|      14.0|[14.0,3.0,2.0,0.0...|
|     14.26|[14.26,2.5,2.0,0....|
|     14.52|[14.52,2.0,2.0,0....|
|     15.01|[15.01,2.09,2.0,1...|
|     15.81|[15.81,3.16,2.0,1...|
+----------+--------------------+
only showing top 20 rows

In [130]:
reg = LinearRegression(featuresCol="independence", labelCol="total_bill")

In [133]:
re = reg.fit(train)

22/01/20 22:09:39 WARN Instrumentation: [72a6e1f5] regParam is zero, which might cause numerical instability and overfitting.

In [134]:
re.coefficients

DenseVector([1.0, -0.0, -0.0, -0.0, 0.0, 0.0])

In [135]:
re.intercept

1.9050258083190704e-15

In [144]:
rev = re.evaluate(test)
rev

In [145]:
rev.meanAbsoluteError

1.1875274426360934e-14

In [146]:
rev.meanSquaredError

2.5506502602146042e-28

In [151]:
rev.predictions.show()

+----------+--------------------+------------------+
|total_bill|        independence|        prediction|
+----------+--------------------+------------------+
|      7.74|[7.74,1.44,2.0,1....| 7.739999999999979|
|      8.58|[8.58,1.92,1.0,1....| 8.580000000000004|
|      8.77|[8.77,2.0,2.0,0.0...| 8.769999999999987|
|      9.78|[9.78,1.73,2.0,0....| 9.779999999999996|
|     10.07|[10.07,1.83,1.0,0...|10.070000000000011|
|     10.29|[10.29,2.6,2.0,0....|10.289999999999988|
|     10.34|[10.34,2.0,2.0,1....|10.339999999999991|
|     10.59|[10.59,1.61,2.0,1...|10.589999999999987|
|     11.38|[11.38,2.0,2.0,0....|11.379999999999999|
|     11.87|[11.87,1.63,2.0,0...|11.870000000000001|
|     12.43|[12.43,1.8,2.0,0....|12.430000000000001|
|     13.13|[13.13,2.0,2.0,0....|             13.13|
|     13.39|[13.39,2.61,2.0,0...|13.389999999999999|
|     13.42|[13.42,3.48,2.0,1...|13.419999999999995|
|     13.81|[13.81,2.0,2.0,1....|13.809999999999995|
|      14.0|[14.0,3.0,2.0,0.0...|13.999999999999996|
|     14.26|[14.26,2.5,2.0,0....|14.260000000000005|
|     14.52|[14.52,2.0,2.0,0....|14.520000000000008|
|     15.01|[15.01,2.09,2.0,1...|15.009999999999998|
|     15.81|[15.81,3.16,2.0,1...|15.809999999999997|
+----------+--------------------+------------------+
only showing top 20 rows

In [152]:
import pytest
def func(x):
    return x + 1

In [153]:
def test_answer1():
    assert func(3)==5

In [1]:
n = 5
#If  is odd, print Weird
#If  is even and in the inclusive range of  2to 5, print Not Weird
#If  is even and in the inclusive range of  6to 20, print Weird
#If  is even and greater than , print Not Weird

print("Weird" if (n % 2 == 1) or ((n % 2 ==0) and (n in range(6,21))) else "Not Weird")

Weird